@value makerBlack, makerWhite, makerColorful, makerWheat, makerShadow, makerArsenal, makerChelsea, makerLiverpool, makerLiverpool2, makerManUtd, makerManUtd2, makerManCity, makerTottenham from '../../common/colors.css';

.card {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  text-align: left;
  padding: 0.2em 0;
  border-radius: 1em;
  box-shadow: 6px 6px 8px 0px makerShadow;
}

.card.arsenal {
  background-color: makerArsenal;
  color: makerWhite;
}

.card.chelsea {
  background-color: makerChelsea;
  color: makerWhite;
}

.card.liverpool {
  background: makerLiverpool;
  color: makerLiverpool2;
}

.card.manutd {
  background: makerManUtd;
  color: makerManUtd2;
}

.card.mancity {
  background: makerManCity;
  color: makerWhite;
}

.card.tottenham {
  background: makerTottenham;
  color: makerWhite;
}

.image {
  flex: 1 1 30%;
  width: 10em;
  height: 10em;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 1em;
  border-radius: 50%;
}

.info {
  flex: 1 1 60%;
}

.clubImage {
  flex: 1 1 10%;
  width: 4em;
  height: 4em;
  padding: 1em;
  border-radius: 50%;
  margin-bottom: 6em;
}

.name,
.club,
.nationality,
.age,
.message {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.2em;
  font-weight: bold;
}

.name {
  font-size: 1.4rem;
}

.club {
  margin-bottom: 1em;
}

.club:after {
  content: '';
  display: block;
  width: 90%;
  height: 2px;
  background-color: makerWheat;
  transform: translateY(0.5em);
}
