@value makerPinkViolet, makerWhite from '../../common/colors.css';

.footer {
  width: 100%;
  text-align: center;
  background: makerPinkViolet;
}

.title {
  color: makerWhite;
  font-weight: bold;
}
